Web App For Web Services/TryItPage/Connected Services/refForXML/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar59.fulton.asu.edu/Page3/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar59.fulton.asu.edu/Page3/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_findNearestStore_InputMessage">
    <wsdl:part name="parameters" element="tns:findNearestStore" />
  </wsdl:message>
  <wsdl:message name="IService1_findNearestStore_OutputMessage">
    <wsdl:part name="parameters" element="tns:findNearestStoreResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_showAllStates_InputMessage">
    <wsdl:part name="parameters" element="tns:showAllStates" />
  </wsdl:message>
  <wsdl:message name="IService1_showAllStates_OutputMessage">
    <wsdl:part name="parameters" element="tns:showAllStatesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getTax_InputMessage">
    <wsdl:part name="parameters" element="tns:getTax" />
  </wsdl:message>
  <wsdl:message name="IService1_getTax_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTaxResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getAirQuality_InputMessage">
    <wsdl:part name="parameters" element="tns:getAirQuality" />
  </wsdl:message>
  <wsdl:message name="IService1_getAirQuality_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAirQualityResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_removeFromMemberXML_InputMessage">
    <wsdl:part name="parameters" element="tns:removeFromMemberXML" />
  </wsdl:message>
  <wsdl:message name="IService1_removeFromMemberXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:removeFromMemberXMLResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_removeFromStaffXML_InputMessage">
    <wsdl:part name="parameters" element="tns:removeFromStaffXML" />
  </wsdl:message>
  <wsdl:message name="IService1_removeFromStaffXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:removeFromStaffXMLResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_searchMemberUsernameXML_InputMessage">
    <wsdl:part name="parameters" element="tns:searchMemberUsernameXML" />
  </wsdl:message>
  <wsdl:message name="IService1_searchMemberUsernameXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:searchMemberUsernameXMLResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_searchMemberPasswordXML_InputMessage">
    <wsdl:part name="parameters" element="tns:searchMemberPasswordXML" />
  </wsdl:message>
  <wsdl:message name="IService1_searchMemberPasswordXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:searchMemberPasswordXMLResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_searchStaffUsernameXML_InputMessage">
    <wsdl:part name="parameters" element="tns:searchStaffUsernameXML" />
  </wsdl:message>
  <wsdl:message name="IService1_searchStaffUsernameXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:searchStaffUsernameXMLResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_searchStaffPasswordXML_InputMessage">
    <wsdl:part name="parameters" element="tns:searchStaffPasswordXML" />
  </wsdl:message>
  <wsdl:message name="IService1_searchStaffPasswordXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:searchStaffPasswordXMLResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="findNearestStore">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/findNearestStore" message="tns:IService1_findNearestStore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/findNearestStoreResponse" message="tns:IService1_findNearestStore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="showAllStates">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/showAllStates" message="tns:IService1_showAllStates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/showAllStatesResponse" message="tns:IService1_showAllStates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTax">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getTax" message="tns:IService1_getTax_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getTaxResponse" message="tns:IService1_getTax_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAirQuality">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getAirQuality" message="tns:IService1_getAirQuality_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getAirQualityResponse" message="tns:IService1_getAirQuality_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="removeFromMemberXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/removeFromMemberXML" message="tns:IService1_removeFromMemberXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/removeFromMemberXMLResponse" message="tns:IService1_removeFromMemberXML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="removeFromStaffXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/removeFromStaffXML" message="tns:IService1_removeFromStaffXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/removeFromStaffXMLResponse" message="tns:IService1_removeFromStaffXML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="searchMemberUsernameXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/searchMemberUsernameXML" message="tns:IService1_searchMemberUsernameXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/searchMemberUsernameXMLResponse" message="tns:IService1_searchMemberUsernameXML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="searchMemberPasswordXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/searchMemberPasswordXML" message="tns:IService1_searchMemberPasswordXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/searchMemberPasswordXMLResponse" message="tns:IService1_searchMemberPasswordXML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="searchStaffUsernameXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/searchStaffUsernameXML" message="tns:IService1_searchStaffUsernameXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/searchStaffUsernameXMLResponse" message="tns:IService1_searchStaffUsernameXML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="searchStaffPasswordXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/searchStaffPasswordXML" message="tns:IService1_searchStaffPasswordXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/searchStaffPasswordXMLResponse" message="tns:IService1_searchStaffPasswordXML_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="findNearestStore">
      <soap:operation soapAction="http://tempuri.org/IService1/findNearestStore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="showAllStates">
      <soap:operation soapAction="http://tempuri.org/IService1/showAllStates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTax">
      <soap:operation soapAction="http://tempuri.org/IService1/getTax" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAirQuality">
      <soap:operation soapAction="http://tempuri.org/IService1/getAirQuality" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeFromMemberXML">
      <soap:operation soapAction="http://tempuri.org/IService1/removeFromMemberXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeFromStaffXML">
      <soap:operation soapAction="http://tempuri.org/IService1/removeFromStaffXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchMemberUsernameXML">
      <soap:operation soapAction="http://tempuri.org/IService1/searchMemberUsernameXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchMemberPasswordXML">
      <soap:operation soapAction="http://tempuri.org/IService1/searchMemberPasswordXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchStaffUsernameXML">
      <soap:operation soapAction="http://tempuri.org/IService1/searchStaffUsernameXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchStaffPasswordXML">
      <soap:operation soapAction="http://tempuri.org/IService1/searchStaffPasswordXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://webstrar59.fulton.asu.edu/Page3/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>