Web App For Web Services/TryItPage/Connected Services/ServiceReference12/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="findNearestStore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zipCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="storeName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findNearestStoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="findNearestStoreResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="showAllStates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="showAllStatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="showAllStatesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTax">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zipcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTaxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getTaxResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAirQuality">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAirQualityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getAirQualityResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeFromMemberXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeFromMemberXMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removeFromMemberXMLResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeFromStaffXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeFromStaffXMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removeFromStaffXMLResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchMemberUsernameXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchMemberUsernameXMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchMemberUsernameXMLResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchMemberPasswordXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchMemberPasswordXMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchMemberPasswordXMLResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchStaffUsernameXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchStaffUsernameXMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchStaffUsernameXMLResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchStaffPasswordXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchStaffPasswordXMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchStaffPasswordXMLResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>